<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <%if(btn=='logout'){%>
    <p class="secret-text2">Welcome you are logged in!</p>
    <% } %>
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">You've Discovered The Secrets!</h1>
    <% if(locals.userWithSecrets){ %>
      <% userWithSecrets.forEach((secrets)=>{ %>
        <% secrets.secret.forEach((item)=>{ %>
          <p class="secret-text"><%= item %></p>
        <%}) %>
      <% })%>
    <% } else {%>
        <p class="secret-text">No secrets found!</p>
    <% } %>

    <hr>
    <% if(locals.btn){ %>
      <% if(btn==='logout'){ %>
        <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
      <% }else{ %>
        <a class="btn btn-light btn-lg" href="/" role="button">Home</a>
      <% }} %>
    <a class="btn btn-dark btn-lg" href="/submit" role="button">Submit a Secret</a>
  </div>
</div>

<%- include('partials/footer') %>
